#lieu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background: #EAEAEA;
}
#lieu p,i {
    color: #353535;
    font-weight: bold;
    font-size: 16px;
}

#explore {
    padding-top: 39px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explore h1,
#explore p {
    margin-bottom: 20px;
    text-align: center;
}

#explore h1 {
    font-size: 23px;
    margin: 0px 40px 20px 40px;
}

#explore p {
    font-size: 18px;
}

/* Main - Fonctionnement */
#fonction {
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 68px;
    
}

#fonction h2 {
    margin-bottom: 20px;
    width: 320px;
    font-size: 24px;
}
/* Main - Fonctionnement : Step #1-3 */
#fonction > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 20px;
}

#fonction > div > div {
    align-items: center;
    width: 80%;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px #00000026;
    align-items: center;
    max-width: 323px;
    height: 72px;
    position: relative;
    font-weight: bold;
    gap: 15px;
}

#fonction p:first-child {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: normal;
    background: var(--primair-color);
    color: white;
    position: relative;
    left: -13px;
}

#fonction .fas {
    color: #7E7E7E;
}

#fonction .fa-store {
    color: var(--primair-color);
}

/* Les restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding-top: 54px;
    padding-bottom: 66px;
}

.restaurants h2 {
    width: 320px;
}

.restaurant_content img {
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.restaurant_content {
    position: relative;
    border-radius: 15px;
    margin: 0px 17px 0px 17px;
}

.titre {
    padding-left: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
    border-radius: 0px 0px 15px 15px;
}

.new {
    position: absolute;
    right: 12px;
    top: 13px;
    width: 61.37px;
    background: var(--green, #99E2D0);
    color: var(--green-font, #008766);
    padding: 9px;
    border-radius: 2px;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
