/* Font AWESOM {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
} */

:root {
    --primair-color: #9356DC;
    --second-color: #FF79DA;
    --tertiaire-color: #99E2D0;
}

/***** Général *****/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
}

.backg-color {
    background-color: #F6F6F6;
}

.flexbox {
    display: flex;
}

/***** Header *****/
header {
    width: 100%;
    height: 63px;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #00000026;
    background-color: white;
}

header > img {
    width: 197px;
    height: 36px;
}

/***** Bouton *****/
.button {
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
}

.button div {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
}

.button span {
    z-index: 1;
    font-size: 16px;
    color: #FFF;
}

/***** Bouton (Animation) *****/
.button {
    transition: box-shadow 0.2s linear 0s;
}

.button:hover {
    box-shadow: 0px 4px 12px 2px #00000040;
}

.button div {
    transition: opacity 0.2s linear 0s;
}

.button:hover div {
    opacity: 1;
}

/***** Coeur *****/

.heart-box i {
    position: relative;
    bottom: 25px;
    right: 25px;
    font-size: 22px;
}

.heart-box .far {
    position: absolute;
}

.heart-box .fas {
    position: absolute;
    background: linear-gradient(40deg, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
}

/***** Coeur (Animation) *****/
.heart-box .fas:hover {
    opacity: 1;
}

/***** Footer *****/
footer {
    background: var(--grey, #353535);
    padding: 22px 25px 22px 25px;
}

footer h2 {
    margin-bottom: 16px;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.fa-utensils {
    color: var(--white, #FFF);
    width: 11px;
    height: 13px;
}

.fa-hands-helping {
    color: var(--white, #FFF);
    width: 11.918px;
    height: 13px;
    font-size: small;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

footer li a {
    color: white;
    gap: 11px;
    display: flex;
}