/* Font AWESOM {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
} */

:root {
    --primair-color: #9356DC;
    --second-color: #FF79DA;
    --tertiaire-color: #99E2D0;
}

/***** Général *****/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
}

.flexbox {
    display: flex;
}

/***** Header *****/
header {
    width: 100%;
    height: 63px;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #00000026;
    background-color: white;
}

header img {
    width: 197px;
    height: 36px;
}

/***** Main *****/
#lieu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background: #EAEAEA;
}
#lieu p,i {
    color: #353535;
    font-weight: bold;
    font-size: 16px;
}

#explore {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

#explore h1,
#explore p {
    margin-bottom: 20px;
    text-align: center;
}

#explore h1 {
    font-size: 23px;
    margin: 0px 40px 20px 40px;
}

#explore p {
    font-size: 18px;
}

/***** Bouton *****/
.button {
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;

}
.button div {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
}
.button span {
    z-index: 1;
    font-size: 16px;
    color: #FFF;
}

/***** Button (Animation) *****/
.button {
    transition: box-shadow 0.1s linear 0s;
}
  
.button:hover {
    box-shadow: 0px 4px 12px 2px #00000040;
}

.button div {
    transition: opacity 0.1s linear 0s;
}

.button:hover div {
    opacity: 1;
}