@mixin bouton {
    border-radius: 25px;
    background: linear-gradient(175deg, $primair-color 0%, $second-color 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: $white-color;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25), 0px 0px 30px 15px rgba(255, 255, 255, 0.8);
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:hover::before {
        opacity: 1;
    }
}