.heart-box {
    position: relative;
    /* bottom: 25px;
    right: 25px; */
    font-size: 22px;
    .far {
        position: absolute;
    }
    .fas {
        position: absolute;
        background: linear-gradient(40deg, #FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transform: scale(1.5);
        animation: progress-heart-fadeOut 1.5s forwards;
        transition: opacity 0.5s;
    }
    &:hover .fas {
        opacity: 1;
        animation: progress-heart-fadeIn 1.5s forwards;
        @keyframes progress-heart-fadeIn {
            0% {
                transform: scale(.1);
            }
            70% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes progress-heart-fadeOut {
            0% {
                transform: scale(1.5);
            }
            70% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(.1);
            }
        }
    }
}



