#lieu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background: #EAEAEA;
    h2, i {
        color: #353535;
        font-weight: bold;
        font-size: 16px;
    }
}

#explore {
    padding-top: 39px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 23px;
        margin: 0px 40px 20px 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
    }
}

#fonction {
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 68px;
    margin-left: 42px;
    margin-right: 30px;
    p:first-child {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-weight: normal;
        background: $primair-color;
        color: white;
        position: relative;
        left: -13px;
    }
    .fas {
        color: #7E7E7E;
    }
    .fa-store {
        color: $primair-color;
    }
}

.fonction_content {
    display: flex;
    flex-direction: column;
    > h2 {
        position: relative;
        left: -20px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 20px;
        margin-top: 20px;
        > div {
            border-radius: 20px;
            background: #F6F6F6;
            box-shadow: 0px 4px 15px 0px #00000026;
            align-items: center;
            width: 100%;
            padding-right: 15px;
            height: 72px;
            font-weight: bold;
            gap: 15px;
        }
    }
}

/* Les restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding-top: 54px;
    padding-bottom: 66px;
    h2 {
        margin-left: 20px;
    }
    &_content {
        position: relative;
        border-radius: 15px;
        margin: 0px 17px 0px 17px;
        img {
            width: 100%;
            height: 250px;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
        }
        .heart-box i {
            bottom: 25px;
            right: 25px;
        }
    }
}

.titre {
    padding-left: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
    border-radius: 0px 0px 15px 15px;
}

.new {
    position: absolute;
    right: 12px;
    top: 13px;
    width: 61.37px;
    background: $tertiary-color;
    color: $green-color;
    padding: 9px;
    border-radius: 2px;
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.backg-color {
    background-color: #F6F6F6;
}

.flexbox {
    display: flex;
}