#template img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.heart-box i {
    right: 24px;
    top: -28px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: 400;
}

.main {
    position: relative;
    top: -60px;
    border-radius: 15px;
    background-color: var(--light-gray-color);
    &__titre {
        padding: 17px;
    }
}