#template img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.main {
    position: relative;
    margin-top: -57px;
    border-radius: 15px 15px 0px 0px;
    background-color: $light-gray-color;
    width: 100%;
    padding: 20px 0px 40px 0px;
    &__titre {
        padding-left: 17px;
        .heart-box i {
            right: 24px;
            top: -30px;
        }
        h1 {
            font-family: 'Shrikhand', cursive;
            font-size: 28px;
            font-weight: 400;
        }
    }
    &__menu {
        margin-top: 40px;
        margin-left: 13px;
        margin-right: 13px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 300; 
            text-transform: uppercase;
            border-bottom: 3px solid $tertiary-color;
            width: 40px;
            padding-bottom: 5px;
        }
    }
    &__article {
        background-color: $white-color;
        padding: 15px;
        border-radius: 15px;
        position: relative;
        justify-content: space-between;
        display: flex;
        > div:nth-child(1) {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            p,h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        > div:nth-child(2) {
            display: flex;
            align-items: center;
            transition: 0.5s ease-in-out;
            > p {
                margin-top: 23px;
                font-weight: bold;
            }
            .card--add {
                position: absolute;
                height: 100%;
                background-color: $tertiary-color;
                display: flex;
                justify-content: center;
                top: 0;
                right: 0;
                border-radius: 0 15px 15px 0;
                font-size: 1.2rem;
            }
            i {
                color: $white-color;
                transition: 0.5s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                width: 0;
            }
        }
        &:hover .card--add i {
            width: 59px;
            opacity: 1;
        }
        &:hover div:nth-child(2) {
            margin-right: 60px;
        }
    }
    > .btn {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    #template img {
        width: 100%;
        height: 600px;
    }
    .main {
        width: auto;
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__titre {
            padding-left: 0px;
            .heart-box i {
                right: -40px;
            }
        }
        &__article {
            width: 634px;
            overflow: hidden;
        }
    }
}