footer {
    background: $gray-color;
    padding: 22px 25px 22px 25px;
    h2 {
        margin-bottom: 16px;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
        color: $white-color;
    }
    .fa-utensils {
        color: $white-color;
        width: 11px;
        height: 13px;
    }
    .fa-hands-helping {
        color: $white-color;
        width: 11.918px;
        height: 13px;
        font-size: small;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    li a {
        color: $white-color;
        gap: 11px;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 16px;
        align-items: flex-end;
        padding: 30px 25px 30px 25px;
        > h2 {
            margin-bottom: -3px;
        }
        ul {
            flex-direction: row;
            gap: 1.25rem;
            padding-right: 5rem;
        }
    }

}