* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-decoration: none;
}


    $primair-color: #9356DC;
    $second-color: #FF79DA;
    $tertiary-color: #99E2D0;
    $green-color: #008766;
    $light-gray-color: #F6F6F6;
    $white-color: #fff;
    $gray-color: #353535;